<div class="container">
  <div class="portada-contain row">
    <div class="col-6">
      <h1 class="title-criadero">Ovejeros Belga</h1>
      <h2 class="title-tulipe">Tulipe Noir</h2>
      <div class="pata" data-toggle="tooltip" data-placement="top" title="Nosotros">
        <a routerLink="/nosotros"><i class="fa fa-paw fa-4x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-6" style="color: #f3eed0;">
      <img src="../../../assets/img/portada.jpg" alt="" class="img-rounded center-block">
    </div>
  </div>
</div>
