<nav class="navbar navbar-light bg-faded navbar-toggleable-md" style="background-color: #e3f2fd;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/portada">
    Tulipe Noir
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- Social Medias-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <!-- Items -->
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/nosotros">Nosotros</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/servicios">Servicios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/perros">Perros</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/historia">Historia</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/raza">Raza</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/sponsors">Sponsors</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/galeria">Galeria</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/panel">Panel de Administracion</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/portada" (click)="onLogout()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
