  <div class="container container-page">


    <div class="row">

      <div class="col-md-12" style="text-align: center;">

        <h3 class="title-container-page">Contactate con Nosotros</h3>

        <div class="row">

          <div class="col-md-6 offset-3">

            <div class="row">
              <div class="col-md-6">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <hr>
                <p style="color: white;">(0054-9-11) 5812-1439</p>
              </div>
              <div class="col-md-6">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <hr>
                <p><a href="mailto:your-email@your-domain.com">tulipenoir_belgas@hotmail.com</a></p>
              </div>
            </div>

          </div>

        </div>

        <div class="row" style="margin-top: 70px;">

          <div class="col-md-4 offset-4">
            <div class="row">
              <div class="col-md-4">
                <a>
                  <button class="btn btn-outline-secondary">
                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                  </button>
                </a>
              </div>
              <div class="col-md-4">
                <a href="">
                  <button class="btn btn-outline-secondary">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                  </button>
                </a>
              </div>
              <div class="col-md-4">
                <a>
                  <button class="btn btn-outline-secondary">
                    <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
                  </button>
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

