<!-- Servicios Section -->
  <div class="container-fluid container-page">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="title-container-page">Servicios</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
						<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x services-circle"></i>
              <i class="fa fa-heart fa-stack-1x fa-inverse services-icon" aria-hidden="true"></i>
						</span>
        <h3 class="service-heading">Machos en servicio de stud</h3>
      </div>
      <div class="col-md-4">
						<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x services-circle"></i>
             <i class="fa fa-graduation-cap fa-stack-1x fa-inverse services-icon" aria-hidden="true"></i>
						</span>
        <h3 class="service-heading">Adiestramiento</h3>
        <h6 class="service-heading">Deportivo y comiciliario (problemas de conducta)</h6>
      </div>
      <div class="col-md-4">
						<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x services-circle"></i>
							<i class="fa fa-bed fa-stack-1x fa-inverse services-icon" aria-hidden="true"></i>
						</span>
        <h3 class="service-heading">Pensionado</h3>
      </div>
    </div>
  </div>
<!-- FIN Servicios Section -->
