<!-- Nosotros Section -->
  <div class="container container-page">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="title-container-page">Nosotros</h1>
          <h3 class="section-subheading text-muted">Comenzamos en la raza allá por el año 1985, sin pensar que llegariamos a comprometernos tanto con la cría, selección, exposiciones y el adiestramiento.</h3>
          <br>
          <p style="text-align:justify;">
            También llegamos a competir en Europa:
            <br>
            1. En Francia, 1993, Exposición Nacional de Cría del Club Francés. Obteniendo la Reserva de Exposición Cat. Campeonas, y logrando el PRIMER SUJETO RECOMENDADDO DEL CLUB FRANCES EN EL CONTINENTE SUDAMERICANO.
            <br>
            2. En Bélgica, 1998, Exposición Nacional de Cría del Club Belga. Obteniendo el MEJOR DE EXPOSICION desde su Categoría y siendo el único Criador Argentino en obtener este resultado en el país de origen de la Raza .
            <br>
            3. En España, 2002, Exposición Nacional de Cría Española. Obteniendo el MEJOR DE RAZA GROENENDAEL.
            Todo esto logrado con ejemplares nacidos en nuestro Criadero.
            <br>
            4. En Madrid, 2002, Exposición R.C.I. de la Real Sociedad Canina de España. Obteniendo nuestro primer R.C.I. 1.
            <br>
            5. En Italia, 2004, Raduno del Club Italiano del Pastor Belga. Obteniendo el MEJOR DE RAZA TERVUEREN. Ejemplar criado por nosotros.
            <br>
            6. Desde el año 1994 hemos obtenido los primeros puestos en los Rankings de F.C.A. y del C.O.B. de la Variedad Groenendael, Tervueren y Malinois; con más de 15 perros de nuestro Criadero.
            <br>
            Somos los precursores de la Raza Malinois en nuestro País.
            Hemos importado más de 10 sujetos europeos y utilizado las mejores líneas de sangre.
            Nuestros resultados y ejemplares están a la vista y en la memoria de muchos.
            Usamos y usaremos siempre ejemplares seleccionados, nuestra experiencia, conciencia y honestidad nos caracteriza y nos hace pensar que estamos por el buen camino.
            <br>
            <br>
            TULIPE NOIR………todo el amor y la pasión por la Raza Ovejero Belga
            <br>
            Jorge Paolillo
          </p>
        </div>
    </div>
  </div>
<!-- FIN Nosotros Section -->
