<div class="container container-page">

  <div class="col-lg-8 offset-2 text-center">
    <h1 class="title-container-page" style="margin-bottom: 150px;"> Nuestros amigos </h1>


    <div class="row perro-card">
      <div class="col-4">
        <img class="img-fluid img-thumbnail image-perro" src="../../../tulipe-noir/assets/img/rzt-sponsor.jpg">
      </div>

      <div class="col-md-8">
        <h2>RZT</h2>
        <h4>Productos para adiestramiento canino</h4>
        <hr>
        <a href="https://www.facebook.com/rzt.adiestramiento" target="_blank">
          <button class="btn btn-outline-primary">
            <i class="fa fa-facebook" aria-hidden="true"></i>

          </button>
        </a>
      </div>


    </div>

  </div>
</div>
