<!-- Team Section -->
  <div class="container container-page">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="title-container-page">El Ovejero Belga</h1>
        <h3 class="section-subheading text-muted">Descripcion de la Raza</h3>
        <hr>
        <p style="text-align: justify">
          DESCRIPCION

          EJEMPLAR ADULTO
          Descripción
          Macho
          Hembra

          Peso (Kg.)
          27 a 32
          25 a 30

          Altura (cm.)
          61 a 62
          57 a 58


          Promedio de vida
          14 años

          Alimento balanceado
          430 grs. diarios


          Alimento balanceado
          12.9 kg. por mes


          Cachorros por cría
          Entre 6 y 9



          APARIENCIA GENERAL

          El Perro de Pastor Belga es medio-líneo, armoniosamente proporcionado, al mismo tiempo elegante y poderoso, de tamaño mediano y musculatura delgada y fuerte.

          Su cuerpo tiene forma de un cuadrado. Es rústico, acostumbrado a la vida al aire libre, y su constitución le permite resistir a las variaciones atmosféricas tan frecuentes del clima belga.

          Por la armonía de sus formas y el porte altivo de la cabeza, el Perro de Pastor Belga debe denotar esa robustez elegante que se ha convertido en el atributo de los representantes seleccionados de una raza de trabajo.

          El Pastor Belga será juzgado durante el reposo en sus posiciones naturales, sin contacto físico con el presentador.

          TEMPERAMENTO/COMPORTAMIENTO

          Este es un perro vigilante y activo, de una gran vitalidad. A su aptitud innata de guardián de rebaño se suman las inigualables cualidades del mejor perro guardián de la propiedad.

          Es, sin dudarlo un momento, el tenaz y ardiente defensor de su amo. Reúne todas las cualidades necesarias de un perro de pastor, perro guardián, de defensa y de servicio.

          Su temperamento impetuoso y alerta y su carácter seguro, sin ningún temor ni agresividad, deben ser evidentes en la actitud del cuerpo y en la expresión altiva y alerta de sus ojos resplandecientes. Durante el juzgamiento debe tomarse en cuenta su carácter “calmado” y “audaz”.

          CABEZA
          Se presenta alta; es larga, aunque no en exceso. De forma rectilínea, bien moldeada y delgada. La longitud del cráneo y del hocico es visiblemente igual, con a lo sumo, una ligera ventaja para el hocico, lo cual imparte un toque de acabado al conjunto.

          REGION CRANEAL

          De amplitud mediana, en proporción con la longitud de la cabeza. La frente es más chata que redonda y el surco medio es poco pronunciado. Visto de perfil, el cráneo está paralelo a la línea imaginaria que prolonga la frente. La cresta occipital es poco desarrollada. Las arcadas de las cejas y las arcadas cigomáticas no son prominentes.

          Depresión naso-frontal (Stop) : Es moderada.

          REGIÓN FACIAL

          Nariz : De color negro.

          Hocico : De longitud mediana y bien moldeado por debajo de los ojos. Disminuye gradualmente hacia la región de la nariz. Tiene forma de ángulo alargado. La región de la frente es recta y está paralela a la línea superior que la prolonga. El hocico es bien partido, lo que significa que cuando la boca está abierta las comisuras de los labios se estirán hacia atrás. Las mandíbulas están bien separadas.

          Labios : Delgados, bien juntos y marcadamente pigmentados.

          Mandíbulas/Dientes : Los dientes son fuertes y blancos. Su articulación es uniforme y están fuertemente implantados en unas mandíbulas bien desarrolladas. La articulación es en forma de « tijera ». Se acepta la dentadura en forma de « pinza », que es la preferida de los conductores de ovejas y ganado. La dentadura está completa, de acuerdo con la fórmula dental. Se acepta la ausencia de 2 premolares (PM1), y los molares 3 (M3) no se toman en consideración.

          Mejillas : Son delgadas y bien planas, aunque musculosas.

          Ojos : De tamaño mediano ; no son ni prominentes, ni hundidos. Su forma es levemente almendrada. Son oblicuos, de color pardusco, preferiblemente oscuros y los bordes de los párpados son negros. La mirada es directa, alerta, inteligente e inquisitiva.

          Orejas : Son más bien pequeñas, de implantación alta y forma visiblemente triangular. En cartílago conquiano es bien redondo. Son rígidas y la extremidad es puntiaguda. Se presentan rectas y en posición vertical cuando el perro está atento.

          CUERPO
          Corpulento, pero sin apariencia de pesadez. Su longitud, tomada desde la punta del hombro, hasta la punta del glúteo, es aproximadamente igual a la altura a la cruz.

          Línea superior : El márgen de la espalda y del lomo es recto.
          Cruz : Es acentuada.
          Espalda : Firme, corta y bien musculosa.
          Lomo : Sólido, corto, suficientemente amplio y bien musculoso.
          Grupa : Es bien musculosa y ligeramente inclinada. Amplia, aunque no en exceso.
          Pecho : No es muy amplio, pero sí bien inclinado. Las costillas son arqueadas en su parte superior. Visto de frente, el antepecho no es muy ancho, pero tampoco es estrecho.
          Línea inferior : Comienza por debajo del pecho y sube ligeramente en una curva armoniosa hacia el vientre, que no es ni hundido, ni agalgado, sino más bien levantado y moderadamente desarrollado.
          PELAJE
          Puesto que la longitud, la dirección, el aspecto y el color del pelo son variados en el Pastor Belga, se ha adoptado este punto como criterio para distinguir las cuatro variedades de la raza: Groenendael, Tervueren, Malinois y Laekenois.

          PELO

          El pelo es corto sobre la cabeza, la cara externa de las orejas y la parte inferior de los miembros, excepto por el borde posterior del antebrazo que está cubierto, desde el codo hasta el carpo, de pelos largos llamados flecos.

          El pelo es largo y liso sobre el resto del pecho y más largo y abundante alrededor del cuello y sobre el antepecho, en donde forma collar y papada. La abertura del conducto auditivo está protegida por pelos abundantes.

          Los pelos que nacen en la base de la oreja son levantados y enmarcan la cabeza.

          La parte posterior del muslo está adornada con pelos bien largos y bien abundantes que forman un pantalón.

          A la cola la orna un pelo largo y abundante que forma un copete.El Groenendael y el Tervueren tienen pelo largo.

          COLOR
          Groenendael: Sólo el negro zaino.
          Para todas las variedades: Se tolera un poco de blanco en el antepecho y en los dedos.
        </p>
      </div>
    </div>
  </div>
<!-- FIN Team Section -->
