<div class="container">
  <h1>Perros</h1>
  <hr>

  <div class="row">
    <div class="col-md-12 text-right">
      <button
      [routerLink]="['/perro', 'nuevo']"
      class="btn btn-outline-success"
        type="button" name="button"
      >
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <br>


  <div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-inverse">
          <th></th>
          <th>Nombre</th>
          <th>Especie</th>
          <th>Descripcion</th>
          <th class="text-right">Opciones</th>
          </thead>
          <tbody>
          <tr *ngFor="let key of perros | keys; let i = index">
            <td><img src="{{perros[key].imagen}}" style="max-height: 150px; max-width: 150px;"></td>
            <td>{{perros[key].nombre}}</td>
            <td>{{perros[key].especie}}</td>
            <td>{{perros[key].descripcion}}</td>
            <td class="text-right w120">
              <button type="button" [routerLink]="['/perro', key]" class="btn btn-outline-primary">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button (click)="deletePerro(key)" type="button" class="btn btn-outline-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="(perros | keys).length == 0" class="alert alert-info" role="alert">
          <strong>No hay registros que mostrar</strong>
        </div>

      </div>
    </div>
  </div>

</div>
