  <div class="container container-page">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="title-container-page">Historia</h1>
        <h3 class="section-subheading text-muted">Origenes de la Raza</h3>
        <p style="text-align: justify">
          A finales de los años 1800, existía en Bélgica un gran número de perros conductores de rebaños cuyo tipo era heterogéneo y sus pelajes eran de una gran diversidad. Con el fin de poner órden en esta situación, algunos canófilos apasionados constituyeron un grupo que tuvo como guía al profesor A. Reul, de la escuela de Medicina Veterinaria de Cureghem, quien puede considerarse como el verdadero pionero y fundador de la raza.
          La raza nace oficialmente entre 1891 y 1897.
          El 29 de septiembre de 1891, se funda en Bruselas el “Club del Perro de Pastor Belga” y ese mismo año, el 15 de noviembre, el profesor A. Reul logra el agrupamiento de 117 perros, lo que le permite llevar a cabo un censo y hacer un escogido de los mejores ejemplares. En los años siguientes se comienza una verdadera selección, realizando una consanguinidad extrema en algunos sementales.
          El 3 de abril de 1892, el ”Club del Perro de Pastor Belga” redactó un primer estándar bien detallado de la raza. Se admitió una sola raza, con tres variedades de pelo. De todos modos, como se decía en esa época, El Pastor Belga era sólo un perro de gente humilde y por lo tanto una raza que carecía aún de prestigio. Por consiguiente, no es sino hasta 1901 que los primeros Perros de Pastor Belgas fueron registrados en el Libro de los Orígenes de la Sociedad Real Saint-Hubert (L.O.S.H.).
          En el transcurso de los años siguientes, los dirigentes aficionados del pastor belga se dedicaban tenazmente a unificar el tipo y corregir los defectos.
          Podemos afirmar que hacia el 1910 el tipo y el carácter del Pastor Belga estaban ya establecidos.
          A través de la historia del Pastor Belga, el asunto de las diversas variedades y de los colores aceptados ha dado lugar a muchas controversias. Por el contrario, en lo que concierne a la morfología, el carácter y la aptitud al trabajo, nunca ha existido desacuerdo alguno.
        </p>
      </div>
    </div>
  </div>
